* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}

nav {
    background-color: #80a8cf;
    padding: 20px;
    text-align: center;
}

.logo {
    font-size: 3rem;
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;

}

.wrapper {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    
}

form {
    text-align: center;
    
}

h1 {
    margin-bottom: 20px;
    color: #343a40;
}

.input-box {
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 15px;
    border: none;
    border-bottom: 2px solid #ced4da;
    outline: none;
    font-size: 16px;
    transition: border-bottom-color 0.3s;
}

.input-box input:focus {
    border-bottom-color: #007bff;
}

.btn {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.register-link {
    margin-top: 20px;
}

.register-link p {
    color: #343a40;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}





